@import url('https://fonts.googleapis.com/css?family=Courgette');

.addProject {
    width: 20%;
}

#portfolio-container {
    /* background-color: #f5f3f3; */
    background-image: url(/background.png);
    border: none;
}

.projectImg {
    border-width: 0;
    border-bottom: 0.5px;
    border-bottom-color: #cec6c6;
    border-bottom-style: inset;
}

.projectCardHeader {
    font-family: 'Courgette', cursive !important;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 24px !important;
    border-width: 0;
    border-bottom: 0.5px;
    border-bottom-color: #cec6c6;
    border-bottom-style: inset;
}

.projectDesc {
    /* text-align: center; */
    font-size: 14px; 
}

Form {
    margin-left: 20px;
    margin-top: 10px;
    /* border-style: groove;
    border-width: 5px;
    border-color: blue; */
    width: 90%;
    height: 100%;
    margin-bottom: 10px;
    text-align: center;
    display: inline-block;
}

Form h2 {
    color: blue;
    font-weight: bold;
    font-style: italic;
}