.navbar {
    /* position: fixed; */
    width: 100% !important;
    font-weight: bold;
    font-size: 20px;
    background-color: #008b8b ;
    vertical-align: auto;
    height: 50px;
    opacity: 1;
    border-color: steelblue;
    border-style: outset;
    border-width: 3px;
}

.nav-header {
    /* width: 50%; */
    color: white !important;
    font-size: 28px !important;
    padding-left: 250px !important;
}

.profilePage {
    float: right;
    padding-right: 75px;
    padding-top: 10px;
}

.projectPage {
    float: right;
    padding-right: 75px;
    padding-top: 10px;
}