@import url('https://fonts.googleapis.com/css?family=Courgette');

.navbar {
    width: 100% !important;
    font-family: 'Courgette', cursive;
    font-weight: bold;
    font-size: 20px;
    background-color: #008b8b ;
    vertical-align: auto;
    height: 60px;
    opacity: 1;
    border-color: steelblue;
    border-style: outset;
    border-width: 3px;
}

.nav-header {
    color: white !important;
    font-size: 40px !important;
    padding-left: 250px !important;
    font-family: 'Courgette', cursive !important;
}

.profilePage {
    float: right;
    color: white !important;
    padding-right: 75px;
    padding-top: 15px;
}

.projectPage {
    float: right;
    color: white !important;
    padding-right: 75px;
    padding-top: 15px;
}

.login {
    float: right;
    color: white !important;
    padding-right: 75px;
    padding-top: 15px;
}

.signout {
    float: right;
    color: white !important;
    padding-right: 75px;
    padding-top: 15px;
}